@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }
 .hero{
     height: 100vh; 
     width: 100%;
     background-image: url(image3.jpg);
     background-size: cover;
     background-position: center;
 }
 .logo{
     color: white;
     font-size: 35px;
     letter-spacing: 1px;
     cursor: pointer;
 }
 span{
     color: #f9004d;
 }
 .nav{ 
     display: flex;
     align-items: center;
     justify-content: space-between;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     padding-top: 45px;
     padding-left: 8%;
     padding-right: 8%;
 }
 
 .nav ul li{
     display: inline-block;
     padding: 10px 30px;
 }
 
 .nav ul li a{
     color: white;
     text-decoration: none;
 }
 .nav ul li a:hover{
     color: #f9004d;
 }
 .nav .btn{
     background-color: #f9004d;
     color: white;
     text-decoration: none;
     border: 2px solid transparent;
     font-weight: bold;
     padding: 10px 25px;
     border-radius: 30px;
     transition: transform .6s;
 }
 .btn:hover{
     transform: scale(1.1);
 }
 .content{
     position: absolute;
     top: 40%;
     left: 8%;
 }
 h1{
     color: white;
     margin: 20px 0 20px;
     font-size: 70px;
 }
 h3{
     color: white;
     font-size: 25px;
     margin-bottom: 50px;
 }
 h4{
     color: rgb(209, 202, 202);
     font-size: 20px;
     letter-spacing: 2px;
 }
 .newsletter form{
     width: 400px;
     max-width: 100%;
     position: relative;
 }
 .newsletter form input:first-child {
   width: 100%;
   display: inline-block;
   padding: 14px 130px 14px 15px;
   border: 2px solid #f9004d;
   border-radius: 30px;
 }
 .newsletter form input:last-child {
     position: absolute;
     display: inline-block;
     border: none;
     border-radius: 30px;
     padding: 10px 30px;
     background-color: #f9004d;
     color: white;
     top: 6px;
     right: 6px;
 }
 .follow {
    font-size: 1.8em;
    color:#e64a41;
}
.icons {
    width: 350px;
    position: relative;
    top: 70%;
    right: 29%;
    display: block;
    margin: 0 auto;
}
.icons ul {
    padding:0;
    list-style: none;
}
.icons ul.social-icons {
    margin-top: 10px;
}
.social-icon {
    color: #fff;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
    margin: 1px 4px;

}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3616c2;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #19b0e7;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #fa1104;
}